@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

* {
  box-sizing: border-box;
}
body {
  color: "#FFF";
  margin: 0;
}
